header {
    width: 100%;
    height: 85vh;
    padding: 2% 15% 0 15%;
    background-color: var(--contrast-color);
}

main{
    padding: 3% 10%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h2 {
    font-size: 2em;
    margin-bottom: 2%;
}

.navigation ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation ul li{
    height: fit-content;
    font-size: 1.2em;
}

.navigation ul li h1{
    font-size: 2.1em;
}

#outdoor{
    display: flex;
    justify-content: center;
}

.typing-animation {
    width: fit-content;
    height: fit-content;
    font-size: 2em;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blinkCursor .7s infinite;
}

@keyframes blinkCursor {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#about {
    display: flex;
}

.subtitle{
    font-style: italic;
}

#about{
    //box-shadow: 0 8px 32px 0 rgba( 6, 220, 90, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 43, 79, 189, 0.4);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
	border-radius: 24px;
}

#about img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 24px 0 0 24px;
}

#about article {
    padding: 2% 5%;
	border-radius: 0 24px 24px 0;
	//background-color: #37393D;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 20px );
    --webkit-backdrop-filter: blur( 20px );
}

#about article h2{
    margin-bottom: 0;
}

#about article p:first-child{
    margin-top: 5%;
}

#about .network-list {
    margin: 2% 0 0 90%;
    padding: 0;
    font-size: 1.5em;
}

#about .network-list a{
    color: var(--secondary-color);
}

#services{
    display: flex;
    justify-content: space-between;
}

.service-card{
    display: flex;
    flex-direction: column;
    width: 45%;
    box-shadow: 0 8px 32px 0 rgba( 43, 79, 189, 0.4);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
	border-radius: 24px;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 20px );
    --webkit-backdrop-filter: blur( 20px );
}

.service-card article{
    padding: 5% 10%;
}

.service-card img {
    width: 100%;
    border-radius: 24px 24px 0 0;
}

.service-card article h3{
    text-align: center;
    margin-bottom: 5%;
    font-size: 1.4em;
}

#projects{
    height: 1000px;
    border-radius: 24px;
    box-shadow: 0 8px 32px 0 rgba( 43, 79, 189, 0.4);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    //background-color: #2b4fbd;
    background: rgba( 43, 79, 189, 0.5);
    backdrop-filter: blur( 5px );
    --webkit-backdrop-filter: blur( 5px );
    display: flex;
}

.project-list {
    width: 30%;
    height: auto;
    overflow-y: scroll;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.project-list img{
    width: 100%;
}

.project-apresentation {
    width: 70%;
    height: auto;
    padding: 3% 2%;
    display: flex;
    flex-direction: column;
}

.project-apresentation img {
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

#footer-header{
    display: flex;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 2%;
}

.network-list{
    list-style: none;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 20px;
}

#footer-navigation{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
}

#footer-navigation ul{
    list-style: none;
}

#footer-navigation ul li h4{
    margin-top: 0;
}

@media screen and (max-width: 800px) {
    *{
        font-size: 14px;
    }

    #home .navigation ul{
        justify-content: center;
    }

    #home .navigation ul li:nth-child(2n + 1){
        display: none;
    }
}  